/**
 * Typography
 */
$ff-base: 'Roboto', sans-serif;
$ff-second: Verdana, Geneva, sans-serif;


$font-size-base: 100%;
$line-height-base: 1.5;

/**
 * Colors
 */
$text-color: #ffffff;
$body-bg: #ffffff;