.section {
	display: flex;
	margin-bottom: 2px;
	@include tablets {
		flex-direction: column;
		margin-bottom: 0;
	}
}

.column {
	//flex-basis: 50%;
	max-width: 50%;
	text-align: center;
	margin-left: 2px;
	@include tablets {
		max-width: none;
		margin-left: 0;
		margin-bottom: 2px;
	}
	&:first-child {
		margin-left: 0;
	}
}

.column__inner {
	padding: 116px 18% 74px;

	@include phones {
		padding: 116px 10% 74px;
	}
}

.slider {
	flex-grow: 1;
	max-width: 75%;
	position:relative;
	@include tablets {
		max-width: none;
	}
}

.column--narrow {
	max-width: 25%;
	padding: 16px 30px 20px;
	background-color: #323232;
	text-align: left;
	@include laptop {
			padding: 16px 15px 20px;
	}
	@include tablets {
		max-width: none;
		text-align: center;
		padding-left: 18%;
		padding-right: 18%;
	}
	@include phones {
		padding-left: 10%;
		padding-right: 10%;
	}

	.button-group {
		display: flex;
		flex-direction: column;

		.btn {
			margin-bottom: 10px;
		}
	}
}

.column--bg-1 {
	background: url('../img/column-bg-1.jpg') no-repeat;
	background-size: cover;
}
.column--bg-2 {
	background: url('../img/column-bg-2.jpg') no-repeat;
	background-size: cover;
}

.section-chart {
	flex-wrap: wrap;
	justify-content: space-between;

	.column {
		display: flex;
		justify-content: center;
		margin: 20px 0;
		width: 100%;

		@include lg-laptop {
			max-width: 100%; 
		}
		@include tablets {
			justify-content: flex-start;
			overflow-x: auto;
		}
	}
}